// --------------------------------------------------
// +++ COMPONENTS LOGO +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

//

// === BASE ===
// --------------------------------------------------

// LOGO

.logo {
  display: inline-block;

  @include OpenSans-Regular();

  &:hover {
    cursor: crosshair;

    .logo__highlight {
      border-color: $sc-white;

      color: $sc-white;

      box-shadow: inset 0 0 0 0 $sc-white;
    }
  }
}

// === PARTS ===
// --------------------------------------------------

// HIGHLIGHT

.logo__highlight {
  display: inline-block;

  padding: 2px 10px 5px;

  border-width: 1px;

  transition: all ease 0.75s;

  border-style: solid;

  background: $sc-white;

  text-transform: lowercase;

  &:first-child {
    margin-bottom: 10px;
  }
}

// === OPTIONS ===
// --------------------------------------------------

// AMSTERDAMSE

.logo--amsterdamse {
  color: $sc-amsterdam;

  .logo__highlight {
    border-color: $sc-amsterdam;
  }

  &:hover {
    .logo__highlight {
      box-shadow: inset 500px 0 0 0 $sc-amsterdam;
    }
  }
}

// ROTTERDAMSE

.logo--rotterdamse {
  color: $sc-rotterdam;

  .logo__highlight {
    border-color: $sc-rotterdam;
  }

  &:hover {
    .logo__highlight {
      box-shadow: inset 500px 0 0 0 $sc-rotterdam;
    }
  }
}

// === DOCS ===
// --------------------------------------------------

/*
---
name: Logo
components:
  - Logo
---

```html
<h1 class="logo logo--rotterdamse">
  <span class="logo__highlight">Rotterdamse</span>
  <br/>
  <span class="logo__highlight">Scrum</span>
</h1>
```

*/
