// --------------------------------------------------
// +++ COMPONENTS TEXT +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// TEXT

.text {
  @include OpenSans-Regular();
  @include font-size(14px, 1em);
}


// === OPTIONS ===
// --------------------------------------------------

// WHITE

.text--white {
  color: $sc-white;
}

// === DOCS ===
// --------------------------------------------------

/*
---
name: Text
components:
  - Text
---

```html
<p class="text text--white">
  Lorem ipsum dolar.
</p>
```

*/
